<h3>
	UserRoles
</h3>
<div class="row">
	<button class="btn btn-primary" ng-click="usersRolesFormShowFlag=true" ng-show="!usersRolesFormShowFlag">Add user</button>
	<div class="col-md-12" ng-show="usersRolesFormShowFlag">
		<form role="form" >
			<div class="form-group">	            
	            <input class="form-control" placeholder="Role name" ng-model="userRoleFormRoleName">
	        </div>
		    <div class="table-responsive">
		        <table class="table table-bordered table-hover">
		        	<tr>
		        		<th>Screen Name</th>
		        		<th>View</th>
		        		<th>Create</th>
		        		<th>Update</th>
		        		<th>Delete</th>
		        	</tr>
					<tr>
						<td>Categories</td>
						<td><input type="checkbox" ng-model="userRolesFormData.categories_view"></td>
						<td><input type="checkbox" ng-model="userRolesFormData.categories_create"></td>
						<td><input type="checkbox" ng-model="userRolesFormData.categories_update"></td>
						<td><input type="checkbox" ng-model="userRolesFormData.categories_delete"></td>
					</tr>
					<tr>
						<td>Brands</td>
						<td><input type="checkbox" ng-model="userRolesFormData.brands_view"></td>
						<td><input type="checkbox" ng-model="userRolesFormData.brands_create"></td>
						<td><input type="checkbox" ng-model="userRolesFormData.brands_update"></td>
						<td><input type="checkbox" ng-model="userRolesFormData.brands_delete"></td>
					</tr>
					<tr>
						<td>Units</td>
						<td><input type="checkbox" ng-model="userRolesFormData.units_view"></td>
						<td><input type="checkbox" ng-model="userRolesFormData.units_create"></td>
						<td><input type="checkbox" ng-model="userRolesFormData.units_update"></td>
						<td><input type="checkbox" ng-model="userRolesFormData.units_delete"></td>
					</tr>
					<tr>
						<td>Weights</td>
						<td><input type="checkbox" ng-model="userRolesFormData.weight_view"></td>
						<td><input type="checkbox" ng-model="userRolesFormData.weight_create"></td>
						<td><input type="checkbox" ng-model="userRolesFormData.weight_update"></td>
						<td><input type="checkbox" ng-model="userRolesFormData.weight_delete"></td>
					</tr>
					<tr>
						<td>Discounts</td>
						<td><input type="checkbox" ng-model="userRolesFormData.discounts_view"></td>
						<td><input type="checkbox" ng-model="userRolesFormData.discounts_create"></td>
						<td><input type="checkbox" ng-model="userRolesFormData.discounts_update"></td>
						<td><input type="checkbox" ng-model="userRolesFormData.discounts_delete"></td>
					</tr>
					<tr>
						<td>Products</td>
						<td><input type="checkbox" ng-model="userRolesFormData.product_view"></td>
						<td><input type="checkbox" ng-model="userRolesFormData.product_create"></td>
						<td><input type="checkbox" ng-model="userRolesFormData.product_update"></td>
						<td><input type="checkbox" ng-model="userRolesFormData.product_delete"></td>
					</tr>
					<tr>
						<td>Users</td>
						<td><input type="checkbox" ng-model="userRolesFormData.users_view"></td>
						<td><input type="checkbox" ng-model="userRolesFormData.users_create"></td>
						<td><input type="checkbox" ng-model="userRolesFormData.users_update"></td>
						<td><input type="checkbox" ng-model="userRolesFormData.users_delete"></td>
					</tr>
		        </table>
		        <input type="button" ng-click="submitUserRolesForm()" value="Submit" ng-show="!usersRolesFormShowFlag" class="btn">
		        <input type="button" ng-click="updateUserRolesForm()" value="Update" ng-show="usersRolesFormEditFlag" class="btn">
			</div>
		</form>
	</div>

	<div class="col-md-12" >
	    <div class="table-responsive" ng-show="!usersRolesFormShowFlag">
	        <table class="table table-bordered table-hover">
	        	<thead>
	        		<tr>
	        			<th>S.No</th>
	        			<th>RoleName</th>
	        			<th>Actions</th>
	        		</tr>
	        	</thead>
	        	<tbody>
	        		<tr ng-repeat="role in userRolesList">
	        			<td ng-bind="$index+1"></td>
	        			<td ng-bind="role.name"></td>
	        			<td>
	        				<a class="btn btn-primary btn-xs" ng-click="editUserRoles(role.id)" ng-show="globalConfig.rolesPermissions.users_update"><span class="fa fa-edit"></span></a>
	            			<a class="btn btn-danger btn-xs" ng-click="deleteUserRoles(role.id)"  ng-show="globalConfig.rolesPermissions.users_delete"><span class="fa fa-minus"></span></a>
	        			</td>
	        		</tr>
	        	</tbody>
	        </table>
	    </div>
	</div>

</div>